* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
header{
    background-color: rgb(11, 101, 236);
    padding: 18px 0;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.item{
    color: white;
    padding: 0px 40px;
    text-decoration: none;
    margin-bottom: 20px;


}
button{
    background-color: white;
    border: 0px;
    margin-left: 17px;
    padding: 8px 16px;
    border-radius: 17px;
}
.contacts{
    display: flex;
    justify-content: space-around;
    width: 1600px;
    align-items: center;
    
}
.jumbo{
    background-image: url(jumbo.png);
    display: flex;
    justify-content: center;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: white;
}
.scarica{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 17px;
    margin: 0px 40px;
}
.scarica:last-child{
    background-color: black;
    color: white;
    margin-left: 0px;
}
.textH{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
h1{
    margin-bottom: 60px;
    font-size: 64px;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.textM{
    color: black;
    width: 300px;
}
.frog{
    width: 600px;
}
.contain h2{
    width: 300px;
    max-height: 99px;
}
.wave{
    display: block;
    width: 100%;
    filter: invert(90%)
}
.gigariso{
    background-color: #e5e5e5;
    flex-direction: row-reverse;
}
.reverse{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.reverseX{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.third{
    padding-bottom: 80px;
}
.lastcontainer{
    display: flex;
    background-color: #e5e5e5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastboxtitle{
    text-align: center;
    padding: 20px 0;
}
.textL{
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    padding-top: 20px;
}
.stars{
    background-image: url(stars.png);
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px 40px
}
.mac{
    text-align: center;
    background-color: rgb(83, 137, 219);
    color: white;
}
h3{
    color: #758de2;
}
.Fbox{
    display: flex;
    align-items: center;
}